---
title: Home page
layout: front
header_image_path:
logos:
  - title: Beechcraft
    image: /assets/images/logos/beechcraft.png
  - title: Cessna
    image: /assets/images/logos/cessna.png
  - title: Cirrus
    image: /assets/images/logos/cirrus.png
  - title: Continental
    image: /assets/images/logos/continental.png
  - title: Garmin
    image: /assets/images/logos/garmin.png
  - title: Lycoming
    image: /assets/images/logos/lycoming.png
  - title: Mooney
    image: /assets/images/logos/mooney.png
gallery:
  - title: Salvage Aircraft n113wb
    image: /assets/images/gallery/salvage_aircraft_n113wb/salvage_aircraft_n113wb_001.jpg
  - title: Salvage Aircraft n113wb
    image: /assets/images/gallery/salvage_aircraft_n113wb/salvage_aircraft_n113wb_002.jpg
  - title: Salvage Aircraft n113wb
    image: /assets/images/gallery/salvage_aircraft_n113wb/salvage_aircraft_n113wb_003.jpg
seo:
  page_title: 'BAS Part Sales | Aircraft Parts Store'
  page_description: 'Contact BAS Part Sales, LLC and access thousands of aircraft parts including , Cessna, Beechcraft, Piper and Mooney!'
---

<div class="site-intro editable">
            <h1>B.A.S Parts &amp; Sales</h1>
            <h2>Serving Aviation since 1946</h2>
            <p><img src="assets/images/plane-icon.png" /></p>
            <p>Contact BAS Part Sales, LLC and access thousands of aircraft parts including, Cessna, Beechcraft, Piper and Mooney! &nbsp;With our online store you can order 24/7 from around the world. &nbsp;Also, feel free to call us <a href="tel:9703134823">970.313.4823</a> and talk to our friendly and experienced staff!</p>
            <img src="/assets/images/2day-free-shipping.svg" title="FREE 2 day shipping **special size restrictions apply**" />
            <p><strong>FREE 2 day shipping</strong> &nbsp;**special size restrictions apply**</p>
            <p>BAS Part Sales has a warehouse with over <br /> 60,000ft2 of aircraft parts.</p>
            <p>We also offer the world&rsquo;s <a href="https://www.ebay.com/usr/baspartsales" target="_blank">largest Aviation online part store</a>.</p>
            <p>Recent we acquired Bill Duffs leftover inventory and you visit<br />that the <a href="https://www.ebay.com/str/bas-duffstuff" target="_blank">aviation parts store here</a>.</p>
        </div>

<div class="site-intro-image">
    <div id="cycler">
        {% for item in page.gallery %}
        {% if forloop.first == true %}
        <img src="{{item.image}}" alt="{{item.title}}" class="base" />
        {% else %}
        <img src="{{item.image}}" alt="{{item.title}}" />
        {% endif %}
            
        {% endfor %}
    </div>
</div>


<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=150372311748402";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-follow" data-href="https://www.facebook.com/BASPartSales" data-layout="standard" data-size="small" data-show-faces="true"></div>


<div class="client-logos">
    <h3>Clients &amp; Brands</h3>
    <ul class="logos">
        {% for item in page.logos %}
        <li>
            <a href="/used-aircraft-parts-for-sale/?s={{item.title | downcase}}" title="{{item.title}} Used Aircraft Part Search"><img src="{{item.image}}" alt="{{item.title}} Logo" /></a>
        </li>
        {% endfor %}
    </ul>
</div>
