<form id="form" method="post" class="contact-form">
  
  <input type="hidden" name="_to" value="brent@variantstudios.com,team@variantstudios.com">
  <input type="hidden" name="_subject" value="B.A.S Part Sales - Contact Form">
  
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>
    <div class="webform-component">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6"></textarea>
    </div>
    <input type="text" name="_gotcha" style="display: none;">
    <div class="g-recaptcha" data-sitekey="6LelkCgTAAAAAG60tgYNf792DqX3ot6a4esI9pF0"></div>
    <div class="reponse"></div>

    <input class="sendButton" type="submit" value="Send"/>
</form>

