<footer class="site-footer clearfix">
    <div class="flexslider-wrapper">
        <div class="flexslider">
            <ul class="slides">
                <li><a href="#"><img src="/assets/images/logos/beechcraft.png" /></a></li>
                <li><a href="#"><img src="/assets/images/logos/cessna.jpg" /></a></li>
                <li><a href="#"><img src="/assets/images/logos/cirrus.jpg" /></a></li>
                <li><a href="#"><img src="/assets/images/logos/continental.png" /></a></li>
                <li><a href="#"><img src="/assets/images/logos/garmin.jpg" /></a></li>
                <li><a href="#"><img src="/assets/images/logos/lycoming.png" /></a></li>
                <li><a href="#"><img src="/assets/images/logos/mooney.png" /></a></li>
            </ul>
        </div>
    </div>
  <p class="left">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
  <p class="right">Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
</footer>
