<header itemscope class="header-wrapper">
  <div class="site-name logo">
      <a href="/"><img src="/assets/images/logo.svg" alt="{{site.title}}"></a>
  </div>

  <div class="search-box-wrap">
    <div class="search-box">

        <form action="/used-aircraft-parts-for-sale" method="post">
            <input name="s" value="" class="search" type="search" placeholder="Aircraft Part Search">
            <input type="submit">
        </form>

    </div>
    <div class="search-help">Search Keywords, Brands, Part Numbers</div>
  </div>

</header>

<div class="nav-wrapper">
 {% include nav.html nav = site.data.main-menu %}
 <p class="address-info"><span>970.313.4823</span>625 Airport Road, Greeley CO 80631</p>
</div>
