.footer-navigation {
    margin-bottom: 2em;
    .menu {
      padding: 0 0 0em;
      text-align: center;
      margin: 0;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        //text-align: right;
        padding: 0;
      }
      li {
        list-style: none;
        margin: 0;
        display: inline-block;
        padding: 0;
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
        }
        a {
          font-weight: 700;
          font-size: 1em;
          transition: color .5s ease;
          padding: 0 0.5em;
          display: block;
          color: #fff;
          @include breakpoint($bp-medium, $no-query: '.no-mq') {
            padding: 0 1em;
          }
          &:hover {
            color: $color-one;
          }
          &:active {
            top: 1px;
            position: relative;
          }
        }
        ul {

          background: rgba(255, 255, 255, 0.87);
        }
        &:hover {
          // This is the sub nav on hover
          ul {
          }
        }
      }
      a, a:visited {
        text-decoration: none;
      }
    }
}

.footer-wrapper {
  .call-top-action {
    // animation: fadein .4s;
    // animation-delay: 1s;
    position: absolute;
    top: 58px;
    left: 36px;
    background: blue;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    box-shadow: 0px 2px 30px 0px rgba(43, 43, 43, 0.88);
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
body.contact .footer-wrapper .call-top-action {
  display: none;
}

// @keyframes fadein {
//   from { opacity: 0; top: -58px; }
//   to   { opacity: 1; top: 58px; }
// }