.footer-navigation {
    margin-bottom: 2em;
    .menu {
      padding: 0 0 0em;
      text-align: center;
      margin: 0;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        //text-align: right;
        padding: 0;
      }
      li {
        list-style: none;
        margin: 0;
        display: inline-block;
        padding: 0;
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
        }
        a {
          font-weight: 700;
          font-size: 1em;
          transition: color .5s ease;
          padding: 0 0.5em;
          display: block;
          color: #fff;
          @include breakpoint($bp-medium, $no-query: '.no-mq') {
            padding: 0 1em;
          }
          &:hover {
            color: $color-one;
          }
          &:active {
            top: 1px;
            position: relative;
          }
        }
        ul {

          background: rgba(255, 255, 255, 0.87);
        }
        &:hover {
          // This is the sub nav on hover
          ul {
          }
        }
      }
      a, a:visited {
        text-decoration: none;
      }
    }
}
