.gallery {
    display: inline-block;
    margin: 0 auto;
}
#cycler {
    position: relative;
    img {
        position: absolute;
        z-index: 1;
        background-color: white;
        left: 0;
        top: 0;
        display: none;
        padding: 10px;
        background: #fff;
        border: 1px solid #D9D9D9;
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.19);
        border-radius: 3px;
        &.active {
            z-index: 3;
        }
        &.base {
            z-index: -1;
            position: static;
            display: block;
        }
    }
}
