.map {
    width: 100%;
    display: block;
    @include breakpoint($bp-large, $no-query: '.no-mq') {
        width: 48%;
        margin-right: 30px;
        display: inline-block;
        vertical-align: top;
    }
}
