html, body {
	box-sizing: border-box;
    height: 100%;
    margin: 0;
    background: $site-bg;
    overflow-x: hidden;
}
*, *:before, *:after { box-sizing: inherit; }

.wrap {
  @include clearfix;
  max-width: $container_width;
  margin: 0 auto;
}

.site-wrapper {
  margin: 0 auto;
  height: 100%;
  //max-width: $container_width;
}

main, header, footer, section, aside {
	display: block;
}
