/*
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}*/
.header-wrapper {
    background: #000;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      @include grid-span(3,1);
      @include add-gutter(0);
    }
}
.main-wrapper {
    background: #FFF;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      @include grid-span(8,4);
      @include add-gutter(0);
    }
}

.logo {
  text-align: center;
  margin: 1em auto;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    width: 100%;
  }
}
