/*
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}*/
.header-wrapper {
  margin-left: -300px;
  background: #F4F4F4;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-x: scroll;
  z-index: 9;
  transition: all .3s ease-in;
  box-shadow: 2px 0px 2px rgba(0,0,0,0.15);
  @include breakpoint($bp-large, $no-query: ".no-mq") {
    margin-left: 0;
    box-shadow: 0;
  }
}
.show .header-wrapper{
  margin-left: 0;
  transition: all .4s ease-in;
}
.logo {
  text-align: center;
  margin: 2em auto 1em;
  img {
    display: block;
    margin: 0 auto;
  }
}

.address-info {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 2.2em;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

.mobile-header {
  @include clearfix;
  background: #000;
  @include breakpoint($bp-large, $no-query: ".no-mq") {
    display: none;
  }
  .open-menu {
    display: inline-block;
    padding: 1em 1em;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
  }
  .small-logo {
    display: inline-block;
    float: right;
    padding: 1em 1em 0.5em;
  }
}