/*
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}*/
.header-wrapper {
  margin-left: -300px;
  background: #F4F4F4;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-x: scroll;
  @include breakpoint($bp-large, $no-query: ".no-mq") {
    margin-left: 0;
  }
}
.show .header-wrapper{
  margin-left: 0;
}
.logo {
  text-align: center;
  margin: 2em auto 1em;
  img {
    display: block;
    margin: 0 auto;
  }
}

.address-info {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 2.2em;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

.mobile-header {
  @include breakpoint($bp-large, $no-query: ".no-mq") {
    display: none;
  }
}