main {
  display: block;
  padding: 2em 2em;
  background: $main-bg;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    padding: 2em;
  }
}
.main-wrapper {
  transition: all .4s ease-in;
  @include breakpoint($bp-large, $no-query: '.no-mq') {

  }
}

.show .main-wrapper {
  transition: all .4s ease-in;
}

.page-header {
  background-image: linear-gradient(90deg, #1B5B86 0%, #4786D0 100%);
  margin: -2em -1em 2em;
  padding: 2em 1em;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
  }
  * {
    color: #fff;
  }
  .pagetitle {
    font-size: 3em;
    margin-bottom: 0;
  }
  .desc {
    font-size: 1.5em;
  }
}
/*.sidebar {
    @include breakpoint($bp-medium, $no-query: ".no-mq") { @include grid-span(3.5, 9.5); }
}
.wrap > .with-sidebar {
    @include breakpoint($bp-medium, $no-query: ".no-mq") { @include grid-span(9, 0); }
}
main-wrapper {
    background: #f7f6f5;
}*/
.sidebar-wrapper {
    padding: 0 2em;
}

.with-sidebar {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        @include grid-span(7, 1);
    }
}

.sidebar {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        @include grid-span(4.5, 8.5);
        padding-top: 2em;
    }
}
