main {
  display: block;
  padding: 2em 1em;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    padding: 2em;
  }
}
.main-wrapper { 
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    margin-left: 300px;
  }
}

.show .main-wrapper {
  margin-left: 200px;
}