main {
  display: block;
  padding: 2em 1em;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    padding: 2em;
  }
}
.main-wrapper { 
  position: relative;
  opacity:1;
  transition: all .4s ease-in;
  left: 0;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    margin-left: 300px;
  }
}

.show .main-wrapper {
  left: 200px;
  opacity: .5;
  transition: all .4s ease-in;
}

.page-header {
  background-image: linear-gradient(90deg, #1B5B86 0%, #4786D0 100%);
  margin: -2em -1em 2em;
  padding: 2em 1em;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    margin: -2em -2em 2em;
    padding: 9em 2em 1em;
  }
  * {
    color: #fff;
  }
  .pagetitle {
    font-size: 3em;
    margin-bottom: 0;
  }
  .desc {
    font-size: 1.5em;
  }
}