---
layout: default
---

<main>
    <section class="clearfix wrap front">
        {{content}}
    </section>
    <div>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=150372311748402";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-follow" data-href="https://www.facebook.com/BASPartSales" data-layout="standard" data-size="large" data-show-faces="true"></div>
    </div>
</main>
