---
layout: default
---

<main>
    <section class="clearfix front">
        <!-- <img src="/assets/images/home/01.jpg" alt="" /> -->
        <!-- logos -->
        <!-- <div class="flexslider---wrapper">
            <div class="flexslider">
                <ul class="slides">
                    <li><a href="#"><img src="/assets/images/logos/beechcraft.png" /></a></li>
                    <li><a href="#"><img src="/assets/images/logos/cessna.jpg" /></a></li>
                    <li><a href="#"><img src="/assets/images/logos/cirrus.jpg" /></a></li>
                    <li><a href="#"><img src="/assets/images/logos/continental.png" /></a></li>
                    <li><a href="#"><img src="/assets/images/logos/garmin.jpg" /></a></li>
                    <li><a href="#"><img src="/assets/images/logos/lycoming.png" /></a></li>
                    <li><a href="#"><img src="/assets/images/logos/mooney.png" /></a></li>
                </ul>
            </div>
        </div> -->
        {{content}}
    </section>
</main>
